## Portfolio assignment 5

In [1]:
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
lifeExpectancy = pd.read_csv('lifeExpectancyAtBirth.csv')

In [4]:
filteredLE = lifeExpectancy.loc[(lifeExpectancy.Dim1 == "Both sexes") & (lifeExpectancy.Period == 2019)]

In [12]:
filteredLE.sort_values("First Tooltip")

,Location,Period,Indicator,Dim1,First Tooltip
1117,Lesotho,2019,Life expectancy at birth (years),Both sexes,50.75
373,Central African Republic,2019,Life expectancy at birth (years),Both sexes,53.10
1801,Somalia,2019,Life expectancy at birth (years),Both sexes,56.47
661,Eswatini,2019,Life expectancy at birth (years),Both sexes,57.73
1333,Mozambique,2019,Life expectancy at birth (years),Both sexes,58.14
...,...,...,...,...,...
1837,Spain,2019,Life expectancy at birth (years),Both sexes,83.22
1753,Singapore,2019,Life expectancy at birth (years),Both sexes,83.22
1573,Republic of Korea,2019,Life expectancy at birth (years),Both sexes,83.30
1897,Switzerland,2019,Life expectancy at birth (years),Both sexes,83.45
997,Japan,2019,Life expectancy at birth (years),Both sexes,84.26