In [1]:
import numpy as np
import seaborn as sns
import pandas as pd
import scipy.stats as st

In [2]:
ds = pd.read_csv('Assignment 4v2.csv', sep=',')
ds.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

### Confidence interval 90% of Average Glucose Level

In [15]:
confidence = 0.90
st.t.interval(confidence, len(ds)-1, loc=ds['avg_glucose_level'].mean(), scale=st.sem(ds['avg_glucose_level']))

(105.10551296356607, 107.18984124387)

### Confidence interval 95% of Average Glucose Level

In [14]:
confidence = 0.95
st.t.interval(confidence, len(ds)-1, loc=ds['avg_glucose_level'].mean(), scale=st.sem(ds['avg_glucose_level']))

(104.90579289716416, 107.38956131027192)

### Confidence interval 99% of Average Glucose Level

In [16]:
confidence = 0.99
st.t.interval(confidence, len(ds)-1, loc=ds['avg_glucose_level'].mean(), scale=st.sem(ds['avg_glucose_level']))

(104.51534142921878, 107.7800127782173)

### Confidence interval 99,99% of Average Glucose Level

In [17]:
confidence = 0.9999
st.t.interval(confidence, len(ds)-1, loc=ds['avg_glucose_level'].mean(), scale=st.sem(ds['avg_glucose_level']))

(103.6811333488417, 108.61422085859438)

### Confidence interval 90% of BMI

In [18]:
confidence = 0.90
st.t.interval(confidence, len(ds)-1, loc=ds['bmi'].mean(), scale=st.sem(ds['bmi'], nan_policy='omit'))

(28.708818582659323, 29.077655240930024)

### Confidence interval 95% of BMI

In [19]:
confidence = 0.95
st.t.interval(confidence, len(ds)-1, loc=ds['bmi'].mean(), scale=st.sem(ds['bmi'], nan_policy='omit'))

(28.673476701739038, 29.11299712185031)

### Confidence interval 99% of BMI

In [20]:
confidence = 0.99
st.t.interval(confidence, len(ds)-1, loc=ds['bmi'].mean(), scale=st.sem(ds['bmi'], nan_policy='omit'))

(28.604383547836782, 29.182090275752564)

### Confidence interval 99,99% of BMI

In [21]:
confidence = 0.9999
st.t.interval(confidence, len(ds)-1, loc=ds['bmi'].mean(), scale=st.sem(ds['bmi'], nan_policy='omit'))

(28.456764517007418, 29.32970930658193)

### Confidence interval 95% of 10% of the rows of BMI

In [34]:
confidence = 0.95
lengthDS = len(ds['bmi']) 
meanDS = ds.head(lengthDS)
st.t.interval(confidence, lengthDS, loc=meanDS['bmi'].mean(), scale=st.sem(meanDS['bmi'], nan_policy='omit'))

(28.67347671192983, 29.112997111659517)

### Confidence interval 95% of 10% of the rows of Average Glucose Level

In [35]:
confidence = 0.95
lengthDS = len(ds['avg_glucose_level']) 
meanDS = ds.head(lengthDS)
st.t.interval(confidence, lengthDS, loc=meanDS['avg_glucose_level'].mean(), scale=st.sem(meanDS['avg_glucose_level'], nan_policy='omit'))

(104.90579295475321, 107.38956125268287)